<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBfwgloLydmQ6SpGj9oBbstgQuGpgNRkOI</string>
	<key>GCM_SENDER_ID</key>
	<string>538906927996</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oukchaktrong.oukChaktrong</string>
	<key>PROJECT_ID</key>
	<string>personalize-92b9a</string>
	<key>STORAGE_BUCKET</key>
	<string>personalize-92b9a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:538906927996:ios:0f3b3355f0a23637f5faf9</string>
</dict>
</plist>