#include? "Pods/Target Support Files/Pods-Runner/Pods-Runner.release-prod.xcconfig"
#include? "Target Support Files/Pods-Runner/Pods-Runner.release-prod.xcconfig"
#include "Generated.xcconfig"

// Prod flavor settings
FLUTTER_TARGET=lib/main_prod.dart
PRODUCT_BUNDLE_IDENTIFIER=com.veyo.personalize.sdachouk
DISPLAY_NAME=Sdach Ouk
